body {
  margin: 0%;
  font-family: 'Vollkorn', serif;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 0.4fr (1.5fr)[3] 2fr;
      grid-template-rows: 1fr 0.4fr repeat(3, 1.5fr) 2fr;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.header {
  margin-top: 2%;
  text-align: center;
}

.navbar {
  font-size: large;
  font-weight: bold;
  margin-top: 1%;
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: 3px solid orange;
}

.sensor1 {
  border-radius: 20px;
  background-color: #8b1e1e;
  opacity: .7;
  color: whitesmoke;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  margin: 3%;
}

.sensor1 div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sensor1 div:nth-child(1) p:nth-child(1) {
  font-size: 7vw;
  margin-left: 3%;
}

.sensor1 div:nth-child(1) p:nth-child(2) {
  font-size: 11vw;
  margin-left: 4%;
}

.sensor1 div:nth-child(1) p:nth-child(3) {
  margin-left: 3%;
  margin-top: 20%;
  margin-right: 3%;
}

.sensor1:hover {
  background-color: orange;
}

.sensor2 {
  border-radius: 20px;
  background-color: #1aa570;
  opacity: .7;
  color: whitesmoke;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  margin: 3%;
}

.sensor2 div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sensor2 div:nth-child(1) p:nth-child(1) {
  font-size: 7vw;
  margin-left: 3%;
}

.sensor2 div:nth-child(1) p:nth-child(2) {
  font-size: 11vw;
  margin-left: 12%;
}

.sensor2 div:nth-child(1) p:nth-child(3) {
  margin-left: 3%;
  margin-top: 20%;
  margin-right: 3%;
}

.sensor2:hover {
  background-color: greenyellow;
}

.sensor3:hover {
  background-color: yellow;
  color: white;
}

.sensor3:hover div:nth-child(1) {
  color: black;
}

.sensor3 {
  border-radius: 20px;
  background-color: #eaf552;
  opacity: .7;
  color: whitesmoke;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  margin: 3%;
}

.sensor3 div:nth-child(1) {
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sensor3 div:nth-child(1) p:nth-child(1) {
  font-size: 7vw;
  margin-left: 3%;
}

.sensor3 div:nth-child(1) p:nth-child(2) {
  font-size: 11vw;
  margin-left: 22%;
}

.sensor3 div:nth-child(1) p:nth-child(3) {
  margin-left: 3%;
  margin-top: 20%;
  margin-right: 3%;
}

/*/*/
/*# sourceMappingURL=index.css.map */